* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: rgb(68, 67, 67);
  overflow-x: hidden;
}

.header {
  background: url("./assets/images/popsicle.jpg") no-repeat center center;
  min-height: 45.688rem;
  min-width: 100vw;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
}

.header-container h1 {
  letter-spacing: 1.875rem;
  text-transform: uppercase;
  font-size: 9.375rem;
  color: #144b64;
  opacity: 45%;
  margin-top: 0.625rem;
}

.header-container {
  margin: 3.125rem auto;
  width: 100%;
  text-align: center;
}

.header-container p {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 1.875rem;
  letter-spacing: 0.313rem;
}

/* word carousel styles */

.wordCarousel {
  font-size: 2.25rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.wordCarousel div {
  overflow: hidden;
  position: relative;
  height: 4.063rem;
  padding-top: 0.625rem;
  margin-top: 0.625rem;
}

.wordCarousel div li {
  font-weight: 700;
  padding: 0 0.625rem;
  height: 2.813rem;
  margin-left: 0.625rem;
  margin-bottom: 2.813rem;
  display: block;
}

.short-li {
  width: 60%;
}
.medium-li {
  width: 85%;
}

.flip4 {
  animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip4 {
  0% {
    margin-top: -22.5rem;
  }
  5% {
    margin-top: -16.875rem;
  }
  25% {
    margin-top: -16.875rem;
  }
  30% {
    margin-top: -11.25rem;
  }
  50% {
    margin-top: -11.25rem;
  }
  55% {
    margin-top: -5.625rem;
  }
  75% {
    margin-top: -5.625rem;
  }
  80% {
    margin-top: 0rem;
  }
  99.99% {
    margin-top: 0rem;
  }
  100% {
    margin-top: -22.5rem;
  }
}

.social-icons {
  margin-top: 6.25rem;
}

.social-icons a {
  color: rgb(20, 75, 100);
  opacity: 50%;
  padding: 0.438rem 0.938rem;
}
.social-icons a:hover {
  opacity: 70%;
}

.fa-size {
  font-size: 2.813rem;
}

.arrow-down {
  margin-top: 5rem;
  color: rgb(20, 75, 100);
  opacity: 50%;
  cursor: pointer;
  font-size: 7.5rem;
}

.arrow-down:hover {
  opacity: 70%;
}

nav {
  display: flex;
  justify-content: flex-end;
}
nav a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  cursor: pointer;
  margin: 1.25rem 1.25rem;
  color: rgb(87, 134, 156);

  font-size: 1.438rem;
  font-weight: 500;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(25deg);
  }
}

nav a:hover {
  color: rgb(60, 93, 109);

  animation: rotation 0.4s linear;
}

/* About */

#about {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about h1 {
  font-size: 7.5rem;
  letter-spacing: 0.625rem;
  text-align: center;
  font-weight: 600;
}

#about p {
  width: 85%;
  padding: 2.5rem;
  letter-spacing: 0.125rem;
  line-height: 4rem;
  margin-inline: auto;
  text-align: justify;
  text-justify: auto;
  font-size: 1.25rem;
}

.about-right img {
  min-width: 80%;
  height: auto;
}

/* Interests */
#interests {
  min-height: 100vh;
  min-width: 100vw;
  background: -webkit-linear-gradient(
    to right,
    #134558,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4592a0, #19b495);

  background: rgb(128, 166, 166);
  background: linear-gradient(
    90deg,
    rgba(128, 166, 166, 1) 0%,
    rgba(196, 237, 219, 1) 33%,
    rgba(204, 217, 208, 1) 63%,
    rgba(219, 236, 218, 1) 81%,
    rgba(209, 236, 201, 1) 96%,
    rgba(215, 236, 203, 1) 100%
  );

  background-repeat: no-repeat;
}

#container {
  width: 100%;
  height: 43.75rem;
  -webkit-perspective: 800; /* For compatibility with iPhone 3.0, we leave off the units here */
  -webkit-perspective-origin: 50% 14.063rem;
}
#stage {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 2s;
  -webkit-transform-style: preserve-3d;
}

#shape {
  position: relative;
  top: 10rem;
  margin: 0 auto;
  height: 12.5rem;
  width: 12.5rem;
  -webkit-transform-style: preserve-3d;
}

.plane {
  position: absolute;
  height: 12.5rem;
  width: 12.5rem;
  border: 1px solid white;
  color: white;
  -webkit-border-radius: 0.75rem;
  -webkit-box-sizing: border-box;
  text-align: center;
  font-size: 1.25rem;
  padding-top: 3.75rem;
  background-color: #72c494;
  -webkit-transition: -webkit-transform 2s, opacity 2s;
  -webkit-backface-visibility: hidden;
}

.plane p {
  padding: 0.213rem;
}

#shape.backfaces .plane {
  -webkit-backface-visibility: visible;
  opacity: 0.5;
}

#shape {
  -webkit-animation: spin 18s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}
/* ---------- ring styles ------------- */
.ring > .one {
  -webkit-transform: translateZ(23.75rem);
}

.ring > .two {
  -webkit-transform: rotateY(30deg) translateZ(23.75rem);
}

.ring > .three {
  -webkit-transform: rotateY(60deg) translateZ(23.75rem);
}

.ring > .four {
  -webkit-transform: rotateY(90deg) translateZ(23.75rem);
}

.ring > .five {
  -webkit-transform: rotateY(120deg) translateZ(23.75rem);
}

.ring > .six {
  -webkit-transform: rotateY(150deg) translateZ(23.75rem);
}

.ring > .seven {
  -webkit-transform: rotateY(180deg) translateZ(23.75rem);
}

.ring > .eight {
  -webkit-transform: rotateY(210deg) translateZ(23.75rem);
}

.ring > .nine {
  -webkit-transform: rotateY(-120deg) translateZ(23.75rem);
}

.ring > .ten {
  -webkit-transform: rotateY(-90deg) translateZ(23.75rem);
}

.ring > .eleven {
  -webkit-transform: rotateY(300deg) translateZ(23.75rem);
}

.ring > .twelve {
  -webkit-transform: rotateY(330deg) translateZ(23.75rem);
}
#interests h1 {
  font-size: 7.5rem;
  letter-spacing: 0.625rem;
  text-align: center;
  margin-top: 1.25rem;
  color: rgba(83, 197, 172, 0.5);
  font-weight: 600;
}

/* Projects */

#projects {
  width: 98vw;
}

#projects h1 {
  font-size: 7.5rem;
  letter-spacing: 0.625rem;
  text-align: center;
  margin-top: 1.25rem;
  font-weight: 600;
}

#projects h2 {
  font-size: 3.125rem;
  letter-spacing: 0.313rem;
  text-align: center;
  margin-top: 1.25rem;
}

#projects h3 {
  font-size: 1.875rem;
  text-align: center;
  margin-top: 1.25rem;
  color: white;
}

.projects-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.875rem;
}

.project-card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
  border-radius: 0.625rem;
  opacity: 30%;
  width: 18vw;
  height: 20.563rem;
  margin: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s linear;
}

.project-card:hover {
  box-shadow: 0 0.563rem 1rem 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-container {
  background-color: #fefefe;
  margin: auto;
  padding: 1.25rem;
  border: 1px solid #888;
  width: 60%;
  height: 32.834rem;
}

.model-content {
  padding: 3.125rem;
}

.project-left img {
  height: auto;
  max-width: 95%;
}

.project-top {
  display: flex;
  justify-content: space-between;
  margin: 0.625rem 0;
}

.project-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-tags {
  display: flex;
  flex-wrap: wrap;
}
.project-right p {
  padding: 0.438rem 0.75rem;
  border-radius: 1.125rem;
  border: none;
  outline: none;
  background-color: #15a38c;
  opacity: 0.8;
  margin: 0.188rem 0.25rem;
  color: white;
  font-size: 1rem;
}

.description {
  font-size: 1.188rem;
}

.github-link a {
  text-decoration: none;
  cursor: pointer;

  color: rgb(63, 62, 62);
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 0.188rem solid #27dfc0;
  margin-right: 0.938rem;

  transition: all 0.25s linear;
  position: relative;
}

.github-link a:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.188rem;
  background-color: #1a96c7;
  position: absolute;
  left: 0;
  bottom: -0.188rem;
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s linear;
}

.github-link a:hover:before {
  transform: scale(1);
}

.model-content h4 {
  font-size: 1.75rem;
  font-weight: 600;
}

.model-content h5 {
  font-size: 1.25rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Contact */
#contact {
  min-height: 100vh;
  min-width: 98vw;
}

#contact h1 {
  font-size: 7.5rem;
  letter-spacing: 0.625rem;
  text-align: center;
  margin-top: 1.25rem;
  font-weight: 600;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.088rem;
}

.background {
  display: flex;
  min-height: 70vh;
}

.container {
  flex: 0 1 43.75rem;
  margin: auto;
  padding: 0.625rem;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 0.938rem;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 1.25rem;
  right: 1.25rem;
  bottom: 0;
  border-radius: 0.938rem;
  box-shadow: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;
  background: #4d4d4f;
  border-top-left-radius: 0.938rem;
  border-top-right-radius: 0.938rem;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.closebtn {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #177579;
  font-size: 26px;
  font-weight: bold;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.625rem;
  width: 25px;
  height: 4px;
  background: #177579;
}

.app-form {
  margin-top: 2.5rem;
}
.app-form-group {
  margin-bottom: 0.938rem;
}

.app-form-group i {
  color: #177579;
}

.app-form-group a {
  color: #25c3c9;
  margin-left: 0.625rem;
  text-decoration: none;
}

.app-form-group a:hover {
  color: #4ff9ff;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

/* Courses Done */
#certificates {
  min-height: 45.688rem;
  min-width: 100vw;
}

#certificates h1 {
  font-size: 7.5rem;
  letter-spacing: 0.625rem;
  text-align: center;
  margin-top: 1.25rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

#certificates h3 {
  font-size: 1.875rem;
  text-align: center;

  color: white;
}

.certificate-card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
  border-radius: 0.625rem;
  opacity: 30%;
  width: 20vw;
  height: 13.706rem;
  margin: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s linear;
}

.certificate-card:hover {
  box-shadow: 0 0.563rem 1rem 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

.modal-container.certificate-modal {
  width: 60%;
  height: 41.119rem;
}

.model-content.cert-image {
  margin-left: 1.89rem;
  margin-top: 3.125rem;
  height: 95%;
  padding: 0.625rem;
}

.cert-image img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 43rem;
}

.carousel-inner img {
  height: 48.75rem;
}

.modal.cert {
  padding-top: 1.25rem;
}

/* Responsive styles */

@media (max-width: 1150px) {
  html {
    font-size: 12px;
  }
  .modal-container {
    width: 68%;
    height: 74%;
  }
  .cert-image img {
    min-width: 100%;
    height: auto;
  }
  .modal-container.certificate-modal {
    width: 75%;
    height: auto;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 10px;
  }
  .about-content {
    flex-wrap: wrap;
  }
  #interests {
    min-height: 60vh;
  }
  .project-top {
    flex-wrap: wrap;
  }
  .project-right {
    width: 98%;
  }
  .modal-container {
    width: 70%;
    height: 94%;
  }
  .project-right h5 {
    font-size: 15px;
  }

  .projects-gallery h4 {
    font-size: 18px;
  }
  .projects-gallery p {
    font-size: 13.5px;
  }
  .github-link a {
    font-size: 13.5px;
  }
  .modal.cert {
    padding-top: 20%;
  }
}

@media (max-width: 580px) {
  html {
    font-size: 9px;
  }
  .modal-container {
    width: 80%;
    height: 91%;
  }
  .modal {
    padding-top: 15%;
  }
  .modal.cert {
    padding-top: 25%;
  }
  .project-card {
    width: 28vw;
  }
  .project-right h5 {
    font-size: 15px;
  }
  .certificate-card {
    width: 27vw;
  }
  .projects-gallery h4 {
    font-size: 18px;
  }
  .projects-gallery p {
    font-size: 12.8px;
  }
  .github-link a {
    font-size: 13px;
  }
  .cert-image img {
    min-width: 100%;
    height: auto;
  }
}

@media (max-width: 490px) {
  html {
    font-size: 7px;
  }
  #about p {
    font-size: 15px;
    padding: 20px;
  }
  .about-right img {
    width: 70%;
    height: auto;
  }
  .modal-container {
    width: 80%;
    height: 88%;
  }
  .project-right h5 {
    font-size: 15px;
  }
  .project-card {
    width: 30vw;
  }

  .certificate-card {
    width: 27vw;
  }

  .modal {
    padding-top: 20%;
  }
  .modal.cert {
    padding-top: 30%;
  }
  .modal-container.certificate-modal {
    width: 95%;
    height: 75%;
  }
  .cert-image img {
    min-width: 100%;
    height: auto;
  }
}

@media (max-width: 440px) {
  .modal-container.certificate-modal {
    height: 68%;
  }
}

@media (max-width: 370px) {
  html {
    font-size: 6px;
  }
  #about p {
    font-size: 13x;
    padding: 14px;
    padding-bottom: 20px;
  }
  .modal-container {
    width: 80%;
    height: 96%;
  }
  .projects-gallery h4 {
    font-size: 16px;
  }
  .modal-container.certificate-modal {
    width: 95%;
    height: 64%;
  }
  .modal {
    padding-top: 35%;
  }
  .modal.cert {
    padding-top: 50%;
  }
}
